%h3 Recent Commit
= build.commit_data? ? l(build.committed_at, :format => :long) : "Commit date not yet available"
= build.commit_data? ? (" by " + mail_to(build.email, build.author)).html_safe : "Author not yet available"
%br
%code= build.commit_data? ? build.commit : "Commit hash not yet available"
%br
= build.commit_data? ? build.commit_message : "Message not yet available"

