.commit-detail
  %span.label Commit
  %code.commit= build.commit_data? ? build.commit : "Commit hash not yet available"
  %br
  %span.label Author
  = build.commit_data? ? (mail_to(build.email, build.author)).html_safe : "Author not yet available"
  %br
  %span.label Date
  = build.commit_data? ? l(build.committed_at, :format => :long) : "Commit date not yet available"
  %blockquote
    = build.commit_data? ? build.commit_message : "Message not yet available"

