#ajax-reload {
  display: none;
}

code.dark {
  color: #555;
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

pre.unobstrusive {
  padding: 3px 4px;
  color: #555;
  margin: 0;
}

pre.code {
  word-wrap: break-word;
  line-height: 140%;
  font-size: 90%;
  margin-top: 5px;
  color: white;
  background-color: #444;
  text-shadow: none;
  text-shadow: 0 1px 0 #292929;
}

pre.code p {
  margin: 0;
  background-color: #555;
  margin-left: -9px;
  padding: 0 9px;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  width: 99.9%;
  margin-top: 0px;
}

pre.code.failed {
  background-color: #B94A48;
  text-shadow: 0 1px 0 #333;
}

pre.code.failed p {
  background-color: #d75b59;
}

a:hover {
  text-decoration: none;
}

h1.status_build_ok a, h3.status_build_ok {
  color: #39B549;
}

.btn-tiny {
  padding: 2px;
}

.btn-shared-variable-removal {
  float: right;
  margin-right: 190px;
  margin-top: -20px;
}

h1.status_build_failed a, h3.status_build_failed {
  color: #C00;
}

h1.status_build_in_progress a {
  color: #F89406;
}

.updown {
  float: right;
  width: 2.2em;
  text-align: right;
  margin-top: 60px;
}

h1.project-title {
  margin-top: 52px;
}

.in-recent-builds h1.project-title {
  margin-top: 35px;
}

.table.commit-data td {
  border-top: 0;
}

.navbar-fixed-top .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 7px;
  float: right;
  font-size: 14px;
  color: #bbb;
  margin-top: 4px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

.navbar-fixed-top .brand.hint {
  color: #999;
  font-size: 12px;
  margin-top: 6px;
}

.navbar-fixed-top a.brand:hover {
  text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
  color: #fff;
}

.btn-group.light {
  margin-top: 15px;
  font-weight: normal;
}
