body                           { background: #fff url('../images/bg.png') repeat-x; font-family: "Myriad Pro", serif; font-size: 1.3em; line-height: 1.3em; margin: 0 auto; }
a                              { color: #000; text-decoration: none; }
p                              { margin: 20px 0; }

#main                          { margin: 0 auto; position:relative; width: 1000px; margin-top: 20px; }

#header                        { padding: 15px; width: 800px; margin: 0 auto; margin-top: 10px; margin-bottom: -60px; text-align: center; }

#ad                            { text-transform: uppercase; font-size: 0.6em; margin-right: 200px; float:right; width: 170px; border-top-right-radius: 4px; border-top-left-radius: 4px; border-top: solid 1px #ccc; border-left: solid 1px #ccc; border-right: solid 1px #ccc; font-weight: bold; color: #777; text-align: center; height: 2.0em; }
#ad a                          { color: #444; }

#content                       { float:left; width: 800px; background-color: #f5f5f5; padding: 14px; border: solid 1px #ccc; min-height: 200px; }
#footer                        { clear: both; height: 20px; }

#sidebar                       { float: left; margin-top: 4px; width: 120px; background-color: #e1e1e1; border-top-right-radius: 4px; border-bottom-right-radius: 4px; padding: 10px 10px 7px 0; font-size: 0.6em; }
.black_button                  { background-color: #ccc; color: #000; text-transform: uppercase; font-weight: bold; padding: 6px 10px 4px 10px; font-size: 12px; }
.black_button:hover            { background-color: #555; color: #eaeaea }
.crit_button                   { background-color: #ccc; color: #000; text-transform: uppercase; font-weight: bold; padding: 6px 10px 4px 10px; font-size: 12px;cursor: pointer; }
.crit_button:hover             { background-color: #ff0000; color: #fff }
.rss                           { text-indent: -9999px; display: block; width: 40px; height: 20px; background: url(../images/rss-icon.png) no-repeat; }
.rss:hover                     { background-position: 0px -20px; }

#listing                       { line-height: 1.0em; }
#listing h2                    { color: #191919; margin-left: 5px; }
#listing h3                    { font-weight: bold; padding-left: 30px; }
#listing .project              { margin: 0 8px 10px 8px; border-radius: 4px; padding: 10px; }
#listing .info                 { font-size: 0.4em; color: #191919; line-height: 1.2em; margin-left: 8px; float: right; }
#listing .info a               { font-weight: bold; color: #191919; }
#listing a:hover               { color: #000; }
#listing .updown               { float: right; font-size: 0.65em; line-height: 1.0em; text-align: right; font-weight: bold; }
#listing .updown a             { display: block; padding: 5px 10px; }

#build pre                     { font-family: "Monaco", "Courier New", monospace; }
#build pre                     { white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; line-height: 1.1em; }
#build pre                     { background-color:#444; color:#fff; text-shadow: #000 0 1px 1px; font-size: 10px; padding: 10px; border: solid 1px #282828; margin: 20px auto 20px auto; }
#build pre .stderr             { color: #888; }
#build .output_box             { padding: 0 8px 0 8px; }

#steps .command                { font-size: 0.8em; }
#steps .command_box, .command_box  { overflow:auto; }

.status_build_in_progress      { background-color: #efde7d; border: solid 1px #b49f2e; }
.status_build_in_progress a    { color: #5f663e; }
.status_not_built              { background-color: #519fff; border: solid 1px #216dca; }
.status_build_in_queue         { background-color: #519fff; border: solid 1px #216dca; }
.status_build_ok               { background-color: #c0ebbc; border: solid 1px #56a134; }
.status_build_ok a             { color: #365E36; }
.status_build_failed           { background-color: #edc2c2; border: solid 1px #d32f2f; }
.status_build_failed a         { color: #994848; }
.button                        { margin-right: 10px; font-weight: bold; font-size: 16px; color: #282828; text-shadow: #191919 0px 0px 1px; text-transform: uppercase; }
.button:hover                  { color: #fff; text-shadow: #191919 1px 1px 1px; }

.textfield, .textarea          { width:280px; padding-left: 10px; font-size: 12px; color: #444444; border:1px solid #888888; border-radius: 4px; }
.textfield                     { height: 20px;}
.textarea                      { height: 120px; padding-top: 5px; }
.hint                          { font-size: 0.7em; }

.value_list                    { font-size: 0.7em; border-spacing: 20px; margin: 0 20px; }
.value_list .title             { text-align: right; padding-right: 10px; text-transform: uppercase; font-weight: bold; word-wrap: none; vertical-align: top; }
.value_list .value             { text-align: left; padding-right: 10px; }
.clear                         { clear: both; }

form button                    { border: 0; }

#ajax-reload                   { display:none; }
