#listing
  = render :partial => 'projects'
  
= ajaxReload(projects_path(:format => :js))

- content_for :sidebar do
  - unless BigTuna.read_only?
    %li= link_to("New project", new_project_path, :class => 'black_button')
