%h2= "Removing #{@project.name}"
%p Are you sure?
= form_for(@project, project_path(@project), :html => {:method => "DELETE"}) do
  %button.crit_button{:type => "submit"} Yes, I'm sure
  = link_to("No, thanks", project_path(@project), :class => "black_button")
