!!!
%html
  %head
    %title BigTuna Continuous Integration
    = stylesheet_link_tag "master.css"
    = csrf_meta_tag
    %meta{:"http-equiv" => "Content-Type", :content => "text/html;charset=UTF-8"}
    %meta{:name => "keywords", :content => "keywords"}
    %meta{:name => "description", :content => "description"}
  %body
    %header
      %h1 BigTuna
    #content
      = yield
